<footer class="footer-content py-3">
  <div class="container py-md-3">
      <div class="footer-top text-center">
          <h2>
              <a class="navbar-brand pt-3 mb-3" href="index.html">
                  <span class="fa fa-free-code-camp"></span> Explore India
              </a>
          </h2>
      </div>
      <!-- Rest of footer content... -->
  </div>
</footer>