<header class="glass-navbar">
    <nav>
      <a href="/" class="logo">
        <img src="/images/ashoka-chakra.png" alt="Heritage India">
      </a>
      
      <div class="nav-links">
        <a href="#virtual-tours">Virtual Tours</a>
        <a href="#timeline">History Timeline</a>
        <a href="#unesco-sites">UNESCO Sites</a>
      </div>
      
    </nav>
  </header>