<header>
  <div class="top-head container">
      <div class="ml-auto text-right right-p"></div>
  </div>
  <div class="container">
      <nav class="py-3 d-lg-flex">
          <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
          <input type="checkbox" id="drop">
          <ul class="menu ml-auto mt-1">
              <li><a href="index.html">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#contact">Contact us</a></li>
          </ul>
      </nav>
  </div>
</header>