<%- include("partials/header.ejs") %>
<link rel = "stylesheet" href="styles/css/card.css">
<link rel = "stylesheet" href="styles/css/home.css">
<h1>
  <span class="line1">HEY, WELCOME TO OUR WEBSITE</span>
  <br />
  <span class="line2">FOR INDIAN HERITAGE</span>
</h1>
<div class="card-items">
<div class="card">
    <div class="card2">
    </div>
  </div>
  <div class="card">
    <div class="card2">
    </div>
  </div>
  <div class="card">
    <div class="card2">
    </div>
  </div>
  <div class="card">
    <div class="card2">
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>